/* Login Image Splash */
.scaleImage {
  width: 50%;
}
.zoom-out {
  transform: scale(0.5); /* adjust scale as needed */
  transition: transform 1s ease-in-out; /* adjust transition timing as needed */
}

.zoom-in {
  transform: scale(1); /* adjust scale as needed */
  transition: transform 1s ease-in;
}


.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
}
.p-component-overlay-enter {
  animation: p-component-overlay-enter-animation 150ms backwards;
}





